/*--Common Rules--*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    .container-img {
        position: relative;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: black;
        opacity: 0.2;
        border-radius: 8px;
    }

    .text-banner-1 {
        position: absolute;
        color: white;
        bottom: 10%;
        left: 3%;
        width: 50%;
    }

    
    /*--Rules first half--*/
    
    
    .firsthalf{
        width: 80%;
        margin: 0 auto;
        height: 600px;
    }

    /*--Rules header--*/
    
    .header-1 {
        background-color: white;
        height: 10%;
        margin-bottom: 2%;
    }

    .logo {
        border-right: rgba(222,222,222,255)solid 3px;
        display: inline-block;
        padding-right: 2%;
        height: 98% ;
    }

    /*--Rules Nav--*/
    .menu {
        margin-bottom: 2%;
    }

    .menu li {
        display: inline;
        list-style: none;
        text-decoration: none;
        padding-right: 1%;
    }

    .menu li a {
        text-decoration: none;
        color: rgba(200,200,200,200);
    }

    /*--Rules Banner-1--*/
    
    .banner-1 {
        height: 70%;
        position: relative;
    }

    .img-banner-1 {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 8px;
    }

    
    /*--Rules second half--*/
    
    .secondhalf{
        width: 80%;
        margin: 0 auto;   
    }
    
    .secondhalf::after{
        content:"";
        display: table;
        clear: both;
    }
    
    .section-2 {    
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .section-2 h1 {
        font-size: 40px;
    }

    .sidebar {
        float: left;
        width: 20%;
    }

    .img-sidebar {
        width: 100%;
        height: 203px;
        border-radius: 8px;
    }

    .sidebar h2 {
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 10px;
}

    /*--MAiN SECTION 2--*/
    
    .main-section-2 {
        float: left;
        width: 50%;
        margin: 0 5%;
    }

    .img-section-2 {
        width: 100%;
        height: 203px;
        object-fit: cover;
        border-radius: 8px;
    }

    .main-section-2 h2 {
            font-size: 20px;
            margin-top: 15px;
            margin-bottom: 10px;
    }


    /*--aside--*/
    
    .aside {
        float: right;
        width: 20%;
        object-fit: cover;
    }

    .aside h2 {
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .img-aside {
        width: 100%;
        height: 203px;
        object-fit: cover;
        border-radius: 8px;
    }
    
    /*--Regole Footer--*/
    
    footer {
        width: 80%;
        margin: auto;
        height: 50px;
        margin-top: 2%;
        line-height: 50px;
        margin-bottom: 50px;
        text-align: center;
    }

    .heart {
        display: inline;
        color: red;
        font-size: 25px;
    }